<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Road Detection using MobileNet</title>
    <link rel="stylesheet" href="{{ url_for('static' , filename = 'css/style.css', version=3.7) }}">
    <link rel="stylesheet" href="{{ url_for('static' , filename = 'css/bootstrap.css', version=3.7) }}">
</head>
<body>
    <div class="header-container">
        <h1>Road Detection using MobileNet</h1>
    </div>
    {% block content %}

    {% endblock %}

</body>
<script src="{{ url_for('static' , filename = 'js/app.js') }}"></script>

</html>